h1{
    color: seagreen;
}
*{border:solid}

.header{
    background-color: bisque;
    display:flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    background-color: #e4bc7f;
}